/**
 * Float Layout Activity
 **/

 * {
    box-sizing: border-box;
    text-align: center;
    background-color: lightcyan;
    
  }
.container{
  padding-left: 40px;
  padding-right: 40px;
  background-color: lightpink;
  padding-top: 20px;
  padding-bottom: 20px;
  
}

#backleft{
  color:white;
  padding-top:20px;
  padding-bottom:20px;
  background-color:mediumslateblue;
  padding-left: 20px;
  padding-right: 20px;
  border: 2px solid black;
  width: 1200px;
  height: 345px;
  float:left;
  margin-bottom: 20px;
  
}

#backright{
  color:gray;
  padding-top:20px;
  padding-bottom:20px;
  background-color:mediumslateblue;
  padding-left: 20px;
  padding-right: 20px;
  border: 2px solid black;
  width: 600px;
  height: 345px;
  float: right;
  margin-bottom: 20px;
  
  
}

#back2{
  padding-top:20px;
  padding-bottom:20px;
  color:blue;
  background-color: lightsalmon;
  height: 260px;
  border: 2px solid black;
}
.h123{
  margin-right: 20px;
  margin-left: 20px;
  border: 1px solid black;
}


  .header {
    position: static;
    clear: both;
    padding: 20px;
    margin-bottom: 20px;
    color: #333;
    background-color: lightblue;
    border: 1px solid black;
  }
  


li {
    display: inline;
}

  